/* @font-face {
    font-family: 'MuseoSlab-900';
    src: url('../fonts/MuseoSlab-900.eot');
    src: url('../fonts/MuseoSlab-900.woff2') format('woff2'),
        url('../fonts/MuseoSlab-900.woff') format('woff'),
        url('../fonts/MuseoSlab-900.ttf') format('truetype'),
        url('../fonts/MuseoSlab-900.svg#MuseoSlab-900') format('svg'),
        url('../fonts/MuseoSlab-900.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: black;
    overflow: hidden;
    position: relative;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;

}

.ui-scene {
    position: absolute;
    z-index: 100;
}

#debug {
    /* display: none; */
    position: fixed;
    z-index: 1000;
}


/* Scenes */
#MatchmakingScene {
    background-color: cadetblue;
}

#btn_join {
    width: 10%;
    height: 10%;
    font-size: 90%;
    background-color: aliceblue;
    color: cadetblue;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}